@using SocialNetApp.Data.Models
@model SocialNetApp.ViewModels.Account.UserViewModel
@{
    ViewData["Title"] = Model.User.GetFullName();
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link rel="stylesheet" href="~/css/user-info.css" />
}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-image">
            <img src="@Model.User.Image" alt="Фото профиля" class="profile-photo">
            <div class="profile-actions">
                <a class="btn btn_blue" asp-controller="AccountManager" asp-action="Edit">Редактировать</a>
                @if (Model.Roles.Contains("Admin"))
                {
                    <a class="btn btn_green" asp-controller="AccountManager" asp-action="Generate">Добавить пользователей</a>
                }
            </div>
        </div>
        <div class="profile-info">
            <h1>@Model.User.GetFullName()</h1>

            <div class="profile-status">
                <strong>Статус:</strong> @Model.User.Status
            </div>

            <div class="profile-details">
                <p><strong>Дата рождения:</strong> @Model.User.BirthDate.ToString("dd MMMM yyyy г.")</p>
                <p><strong>О себе:</strong> @Model.User.About</p>
                <p><strong>Email:</strong> @Model.User.Email</p>
            </div>
        </div>
    </div>

    <div class="profile-section">
        <h2>Список друзей</h2>
        <!-- Здесь будет список друзей -->
        <div class="friends-list">
            @if (Model.Friends.Count != 0)
            {
                <div class="friends-container">
                    @foreach (var user in Model.Friends)
                    {
                        <div class="friend-item">
                            <img src="@user.Image" alt="Фото друга" class="friend-photo">
                            <span class="friend-name">@user.GetFullName()</span>
                        
                            <div class="friend-actions">
                                <form asp-controller="AccountManager" asp-action="Chat" asp-route-id="@user.Id" method="post">
                                    <button type="submit" class="btn btn_blue">
                                        Чат
                                    </button>
                                </form>
                                <form asp-controller="AccountManager" asp-action="DeleteFriend" asp-route-id="@user.Id" method="post">
                                    <button type="submit" class="btn btn_red">
                                        Удалить из друзей
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="no-friends">
                    У вас пока нет друзей.
                </div>
            }
        </div>
    </div>
</div>